<html lang="en">
    <%- include('./partials/head.ejs') %>
<body> 

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium ad possimus unde a dolores soluta ducimus vero perspiciatis est at vitae aspernatur veniam cupiditate, animi laborum dolorum tempore perferendis itaque.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda earum iure, enim autem in, quasi excepturi esse est dolores beatae ad. Accusamus a atque cupiditate fugit incidunt error nisi? Ex!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur libero nesciunt cum asperiores, iure neque ab optio atque in suscipit eum temporibus fugiat odit voluptatum iusto aspernatur itaque, sint repellendus.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>